<footer class="footer">
  <small>
    <%= t "static_pages.footer_author" %>
    <a href="https://github.com/thankBinh95/blog_app">
      <%= t "static_pages.github_link" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.footer_about"), about_path %></li>
      <li><%= link_to t("static_pages.contact"), contact_path %></li>
    </ul>
  </nav>
</footer>
